/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  border:0;
}


/*COMPONENTS*/
  /*LOGO*/
.logo-box {
position: fixed;
top: 0%;
z-index: 100;
background: transparent;
padding:5px;

}
.logo-box img {
  filter: drop-shadow(-8px 0px 6px black);
  height:130px;
  width:auto;
  padding-top: 25px;
  padding-left: 25px;
}

.logo-box .logo-wrapper {
  background: transparent;
  position: fixed;
  top: 25px;
  left: 25px;
}

  /*SOCIAL LINKS*/
.social-links {
  position: fixed;
  bottom:25px;
  right:25px;
  z-index: 100;

}
.social-links ul li{
  display:inline;
}

.social-links ul li img{
  filter: drop-shadow(8px 0px 6px black);
  max-height:40px;
}

/*PAGE*/
  /* TODO: MAKE FRONT GALLERY A GRID*/
  /* TODO: MAKE HOVERLINKS ICONS*/
/*FLEX*/
.flex {
  display: flex;
  flex-wrap: reverse wrap;
  flex-flow: row wrap;
  justify-content: start;

}
.flex .release-wrapper {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  flex-basis: 20%;
  flex-shrink: 1;
  flex-grow: 1;
}
.flex .release-wrapper:first-child {
  flex-basis: 20%;
  flex-shrink: 1;
  flex-grow: 1;
}
.flex .release-wrapper:nth-child(2) {
  flex-basis: 20%;
  flex-shrink: 1;
  flex-grow: 1;
}
.flex .release-wrapper:nth-child(3) {
  flex-basis: 20%;
  flex-shrink: 1;
  flex-grow: 1;
}
.flex .release-wrapper:nth-child(4) {
  flex-basis: 20%;
  flex-shrink: 1;
  flex-grow: 1;
}
.flex .release-wrapper:nth-child(5) {
  flex-basis: 20%;
  flex-shrink: 1;
  flex-grow: 1;
}
.flex .release-wrapper:last-child {
  flex-basis: 30%;
  flex-shrink: 1;
  flex-grow: 1;
}

  /*TODO: MAKE LAST CHILD NOT GROW IF ON NEW ROW */
.flex .release-wrapper::before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.flex .release-wrapper img {
  height: 100%;
  width:100%;
  min-width:50px;
}

.flex .release-overlay {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  opacity: 0;
  background: black;
  transition: 0.2s ease all;
}

.flex .release-overlay ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;

}
.flex .release-overlay img{
  max-width: 50px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

/*HOVER*/

.flex .release-overlay:hover {
  opacity: 0.7;
}
<<<<<<< HEAD


/* test*/
=======
>>>>>>> be6863c5af9f701ab3f795e1c31b339da63a7a2f
