/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  border:0;
}

body {
  background: black;
}


/*COMPONENTS*/
  /*LOGO*/
.logo-box {
position: fixed;
top: 0%;
z-index: 100;
background: transparent;
padding:5px;

}
.logo-box img {
  filter: drop-shadow(-8px 0px 6px black);
  height:130px;
  width:auto;
  padding-top: 25px;
  padding-left: 25px;
}

.logo-box .logo-wrapper {
  background: transparent;
  position: fixed;
  top: 25px;
  left: 25px;
}

  /*SOCIAL LINKS*/
.social-links {
  position: fixed;
  bottom:25px;
  right:25px;
  z-index: 100;

}
.social-links ul li{
  display:inline;
}

.social-links ul li img{
  filter: drop-shadow(8px 0px 6px black);
  max-height:40px;
}

/*PAGE*/
  /* TODO: MAKE FRONT GALLERY A GRID*/
  /* TODO: MAKE HOVERLINKS ICONS*/
/*FLEX*/
.flex {
width:100vw;

}
.flex .release-wrapper {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  width: 20vw;
  float: left;
}


  /*TODO: MAKE LAST CHILD NOT GROW IF ON NEW ROW */
.flex .release-wrapper::before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.flex .release-wrapper img {
  height: 100%;
  width:100%;
  min-width:50px;
}

.flex .release-overlay {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  opacity: 0;
  background: black;
  transition: 0.2s ease all;

  box-sizing: content-box;
}

.flex .release-overlay ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: space-around;
  position: relative;
  padding: 10px;
  box-sizing: border-box;

}

.flex .release-overlay li {


}
.flex .release-overlay img{
  min-width: 40px;
  max-height: 40px;
  margin: auto;
  width: 40px;
  height: 40px;
}

.flex .release-overlay ul img.spotify-icon {
  background: black;
  color:white;
}

/*HOVER*/

.flex .release-overlay:hover {
  opacity: 0.7;
}
