/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  border:0;
}


/*COMPONENTS*/
  /*LOGO*/
.logo-box {
position: fixed;
top: 0%;
z-index: 100;
background: transparent;
height:10em;

}

.logo-box .logo-wrapper {
  background: transparent;
  position: fixed;
  top: 0%;
}

/*PAGE*/

/*FLEX*/
.flex {
  display: flex;
  flex-wrap: reverse wrap;
  flex-flow: row wrap;
  justify-content: start;

}
.flex .release-wrapper {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  flex-basis: 20%;
  flex-shrink: 1;
  flex-grow: 1;
}

.flex .release-wrapper:first-child {
  flex-basis: 50%;
  flex-shrink: 1;
  flex-grow: 1;
}
.flex .release-wrapper:nth-child(2) {
  flex-basis: 50%;
  flex-shrink: 1;
  flex-grow: 1;
}
.flex .release-wrapper:nth-child(3) {
  flex-basis: 30%;
  flex-shrink: 1;
  flex-grow: 1;
}
.flex .release-wrapper:nth-child(4) {
  flex-basis: 30%;
  flex-shrink: 1;
  flex-grow: 1;
}
.flex .release-wrapper:nth-child(5) {
  flex-basis: 30%;
  flex-shrink: 1;
  flex-grow: 1;
}
.flex .release-wrapper:last-child {
  flex-basis: 20%;
}
  /*TODO: MAKE LAST CHILD NOT GROW IF ON NEW ROW */
.flex .release-wrapper::before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.flex .release-wrapper img {
  height: 100%;
  width:100%;
  min-width:150px;
}

.flex .release-overlay {
  position: absolute;
  visibility: hidden;

}
